body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}

/*layout*/

#landing {
  width: 100vw;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

#main-holder {
  width: 50%;
  border: 1px solid red;
}

#sketch-holder {
  width: 50%;
  border: 1px solid green;
}

/*controls*/
#slider-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border: 1px solid blue;
}
#slider-container div {
  width: 50%;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px;
}

.slider-label {
  width: 100px;
}

input[type=range] {
  margin-top: 16px;
}

#save {
  height: 48px;
  width: calc(48px * 1.618px);
  background-color: #212121;
  color: #fafafa;
  padding: 8px;
  font-size: 16px;

}

/* media queries */

@media screen and (max-width: 991px)  {

  #landing{
    flex-direction: column;
    justify-content: flex-start;
  }

  #main-holder {
    width: 100%;
    height: 50vh;
    order: 2;

  }
  #sketch-holder {
    width: 100%;
    height: 50vh;
    order: 1;
  }

}
