/*typography*/
body {
  font-family: 'Work Sans', sans-serif;
  height: 100%;
  font-size: 16px;
  background-color: #fafafa;
}

h1 {
  font-size: 40px;
  letter-spacing: -0.016em;
  line-height: 56px;
}


/*layout*/

html, body {
  margin: 0;
  padding: 0;
}

/*land div*/

#landing {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid black;
}

/*land child*/


#main-container {
  width: 50%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#sketch-container {
  width: 49%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}

/*#sketch-container child*/

#sketch-holder {
  width: 50%;
  margin-top: 8.33%;
  margin-left: 16.66%;
  margin-right: 16.66%;
  margin-bottom: 16.66%;
  align-self: center;
  border: 2px pink solid;
}

/*#main-container child*/

#quest-container {
  width: 100%;
  min-height: 16.66%;
  background-color: #eee;
  margin-top: 8.33%;
}

#quest-container h1 {
  margin-top: 0;
  padding-top: 0;
  width: 50%;
}



/*controls*/
#slider-container {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  border: 1px solid blue;
}
#slider-container div {
  width: 50%;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
}

.slider-label {
  width: 100px;
}

input[type=range] {
  margin-top: 16px;
}

#save {
  height: 48px;
  width: calc(48px * 1.618px);
  background-color: #212121;
  color: #fafafa;
  padding: 8px;
  font-size: 16px;

}

/*nav*/
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 21px;
}

#nav div {
  width: 25%;
}

#nav div:nth-of-type(1){
  width: 50%;
}


/* media queries */

@media screen and (max-width: 991px)  {

  #landing{
    flex-direction: column;
    justify-content: flex-start;
  }

  #main-container {
    width: 100%;
    height: 50vh;
    order: 2;

  }
  #sketch-container {
    width: 100%;
    height: 50vh;
    order: 1;
  }

}
